Reddit-to-Trello/Reddit-to-Trello.json
{
  "name": "My workflow 27",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "befdab87-e28c-4b1f-b846-fde9459aa8cc",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "listId": "68a8304d915444572b3002d6",
        "name": "={{ $json.subreddit }}\n{{ $json.post_hint }}\n\n",
        "description": "=👤 User:{{ $json.subreddit }}\n📝 Title:{{ $json.title }}\n📅 Posted on: {{ new Date($json[0].created_utc * 1000).toLocaleString() }}\n",
        "additionalFields": {
          "urlSource": "https://www.reddit.com/user/Specific_Speech_1671/comments/1mx3f6b/speech/?utm_source[…]m=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button",
          "keepFromSource": "all"
        }
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        960,
        0
      ],
      "id": "8dc08313-b92b-41a3-9300-be2cc8c2d135",
      "name": "Trello",
      "credentials": {
        "trelloApi": {
          "id": "uOs2oE0ulgBXwVRO",
          "name": "Trello account 30"
        }
      }
    },
    {
      "parameters": {
        "resource": "user",
        "username": "Specific_Speech_1671",
        "details": "overview",
        "limit": 1
      },
      "type": "n8n-nodes-base.reddit",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "a09d91e0-33f5-407a-91c0-b2246810453f",
      "name": "Reddit1"
    }
  ],
  "pinData": {
    "When clicking ‘Test workflow’": [
      {
        "json": {}
      }
    ]
  },
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Reddit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit1": {
      "main": [
        [
          {
            "node": "Trello",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c8acede4-d0c7-47eb-9d0d-a6d387d0c346",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dd95863389efa9620db709de91028077b415d1599314791aead2aff6454ed274"
  },
  "id": "enTipwo4Qi9Fkbkg",
  "tags": []
}